# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# YOLO Training Outputs
runs/

# Dataset
datasets/raw/
datasets/processed/

# Uploads
uploads/

# Generated Outputs
outputs/

# Database
*.db

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

phase2_dataset_work.md
phase3_model_training.md
phase4_part3_video.md
phase4_full_work.md

